body {
  width: 100%
}


  

  .headernavigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 8px;
    

    }

  .headernavigation li {
    display: inline-block;
    padding: 0 33px 1px 0;
    list-style: none;

    }

  .headernavigation a {
    text-decoration: none;
    color: #DFDFDF;
    font-size: 8px;
    vertical-align: middle;
    display: inline-block;
    font-family: 'ubuntu';

  }

  .yourlogo a {
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    padding: 0px 15px 6px 11px;
    list-style: none;
  }

  .pricing a {
    font-weight: bold;
  }



 .background-image {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 450px;
  width: 100%;
  height: 200px;  
  text-align: center;
  padding-top: 40px;
  font-size: xx-large;
  color: white;
  margin: 10px;

  }
    
    .boxes {
      width: 100%;
      display: inline-block;
      text-align: center;
      /*margin-left: 10px;
      margin-right: 300px;*/
       
  }

  .container {

    display: inline-block;
    margin: 10px; 
    vertical-align: middle;
    list-style: none;
  }

  ul {
    width: 100%;

  }
  

    .greenbox {
      background-color: green;
      height: 250px;
      width: 250px;
      color: white;
      list-style: none;

      
    }

      .greenbox ul {
        padding-left: 0;
        margin: 0;
        
      }

      .greenbox li {
        list-style: none;
        vertical-align: middle;
        

      }

      .greenboxtext ul {
        padding-left: 0;

      }

      

      .greenboxtext li {

        border: 1px solid black;
        list-style: none;

        
 }

    .bluebox {
      background-color: blue;
      height: 250px;
      width: 250px;
      color: white;
      list-style: none;
    }

    .bluebox ul {
      padding: 0;
      margin: 0;

      
    }

    .bluebox li {
list-style: none;
width: 100%;

    }

    .blueboxtext ul {
      padding-left: 0;
    }

      .blueboxtext li {
        border: 1px solid black;
        list-style: none;

      }
    
  
    

    .blackbox {
      background-color: black;
      height: 250px;
      width: 250px;
      color: white;
      list-style: none;
      
    }

    .blackbox ul {
      padding: 0;
      margin: 0;
    
    }

    .blackbox li {
      list-style: none;
      width: 100%;
    }

    .blackboxtext ul {
      padding-left: 0;
    }

    .blackboxtext li {
      border: 1px solid black;
      list-style: none;
    }


  .latin {
    list-style: none;
    display: block;
    width: 30%;
    float: left;
    overflow: hidden;

  }

  
  

  footer { 
    display: inline-block;
    position: relative;

  }
    
      
