body {
  width: 100%

}

  .yourlogo {
    font-size: 15px;
    display: inline-block;
    padding: 6px 20px 3px 25px;
    vertical-align: middle;
    font-family: 'ubuntu:300';
    color: #777D83;
  }

  .headernavigation {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: inline-block;
    font-family: 'ubuntu:300';

    }

  .headernavigation li {
    display: inline-block;
    padding: 15px 25px 1px 0;
    list-style: none;

    }

  .headernavigation a {
    text-decoration: none;
    font-size: 11px;
    vertical-align: middle;
    display: inline-block;  

  }

   .home a {
      color: #777D83;
    }

   .pricing a {
      color: black;
      font-weight: bold;
    
  }

   .contact a {
      color: #777D83;

    }

 .background-image {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: 1400px 450px;
  width: 100%;
  height: 200px;  
  text-align: center;
  padding-top: 40px;
  font-size: xx-large;
  color: white;
  margin: 10px;

  }
    
  .boxes {
      width: 100%;
      display: inline-block;
      text-align: center;   
       
  }

  .container {

    display: inline-block;
    margin: 10px; 
    vertical-align: middle;
    list-style: none;
    text-align: center;
  }

   .container ul {
    width: 100%;

  }

   .greenbox {
      background-color: #3CA238;
      height: 175px;
      width: 250px;
      color: white;
      list-style: none;
      vertical-align: middle;
      
    }

      .greenbox ul {
        padding-left: 0;
        margin: 0;
        
      }

      .greenbox li {
        list-style: none;  

      }

      .personal {
          padding-top: 25px;
          padding-bottom: 5px; 
        }

      .five {
          font-size: 60px;
          padding-top: 5px;
        
        }

       .permonthgreen {
          padding-top: 8px;
        }

      .greenboxtext ul {
        padding-left: 0;
        color: #8080FF;

        }

      .greenboxtext li {
        padding-top: 5px;
        padding-bottom: 5px;
        border: 1px solid #CCC;
        list-style: none;
        background-color: #DFDFDF;
       
        } 

        .buttongreen {
          height: 50px;
          
        }

        button {
          border-radius: 40px;
          border-size: 2px;
          padding-top: 3px;
          color: black;
          background-color: white;
        }

      .bluebox {
      background-color: #3937FF;
      height: 175px;
      width: 250px;
      color: white;
      list-style: none;
      vertical-align: middle;
    
    }

      .bluebox ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
    
    }

      .bluebox li {
      list-style: none;
      width: 100%;

      }

     .smallbusiness {
        padding-top: 25px;
        padding-bottom: 5px;
      }

     .twentyfive {
        font-size: 60px;
        padding-top: 5px;
      }

     .permonthblue {
        padding-top: 8px;
      }

     .blueboxtext ul {
      padding-left: 0;
      color: #8080FF;
      }

     .blueboxtext li {
      border: 1px solid #CCC;
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #DFDFDF;

      }

      .buttonblue {
        height: 50px;
      }
  
     .blackbox {
      background-color: black;
      height: 175px;
      width: 250px;
      color: white;
      list-style: none;
      vertical-align: center;
      
      }

     .blackbox ul {
      padding: 0;
      margin: 0;
    
      }

     .blackbox li {
      list-style: none;
      width: 100%;

      }

     .enterprise {
      padding-top: 25px;
      padding-bottom: 5px;

      }

      .fortyfive {
        font-size: 60px;
        padding-top: 5px;

      }

      .permonthblack {
        padding-top: 8px;
      }
      
     .blackboxtext ul {
      padding-left: 0;
      color: #8080FF;

      }

     .blackboxtext li {
      border: 1px solid #CCC;
      list-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #DFDFDF;

    }

        .buttonblack {
          height: 50px;
          background-color: #F2F2F2;
          padding-bottom: 20px;
      
        }
    
  h3 {
    font-weight: bold;
    font-family: 'Roboto+Condensed';
    display: inline-block;
    float: left;

  }

  .paragraphs {
    margin: 10px;
    height: 600px;
    font-size: 13px;
  }

  .paragraphsetone {
    text-align: left;
    display: inline-block;
    overflow: auto;
    margin-left: 341px;
    color: #6666CC;
    width: 340px;
    padding-right: 1px;
    padding: 25px;
  
  }

  .paragraphsettwo {
      text-align: left;
      display: inline-block;
      overflow: auto;
      color: #6666CC;
      width: 340px;
      padding-left: 5px;

  }

  footer {
    width: 100%;
    height: 45px;
    background-color: black;
    color: gray; 
    font-family: 'Roboto+Condensed';
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
    padding-bottom: -5px;
    margin-right: 6px;
    margin-left: 6px;
  
    }

    .footertext a {
    color: white;
    
    }


  

  

    
      
